<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/makeList" method="post">
      <input type="text" name="listName" value="">
      <button type="submit" name="">ADD</button>
    </form>
  </body>
</html>
